@tailwind base;
@tailwind components;
@tailwind utilities;



.image{
align-items: center;
margin-right: 50px;

}

.textcolor {
  background-color:hotpink;
}


.background{
  background-color: burlywood;
}